In [1]:
print("Question 1:")
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hello  " + lname + " " + fname)

Question 1:
Input your First Name : Abdelli
Input your Last Name : Med aziz
Hello  Med aziz Abdelli

In [2]:
print("Question 2:")
n = int(input("Input an integer : "))
n1 = int( "%s" % n )
n2 = int( "%s%s" % (n,n) )
n3 = int( "%s%s%s" % (n,n,n) )
print (n1+n2+n3)

Question 2:
Input an integer : 5
615

In [3]:
print("Question 3:")
num = int(input("Enter a number: "))
mod = num % 2
if mod > 0:
    print("This is an odd number.")
else:
    print("This is an even number.")

Question 3:
Enter a number: 5
This is an odd number.

In [4]:
print("Question 4:")
nl=[]
for x in range(2000, 3200):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

Question 4:
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

In [5]:
print("Question 5:")
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Question 5:
Input a number to compute the factiorial : 5
120

In [6]:
print("Question 6:")
def odd_values_string(str):
  result = "" 
  for i in range(len(str)):
    if i % 2 == 0:
      result = result + str[i]
  return result

print(odd_values_string('hello team'))

Question 6:
hlota

In [ ]:
print("Question 7:")
# input sale amount
amt = int(input("Enter Sale Amount: "))

# checking conditions and calculating discount
if(amt>0):
    if amt>=500:
       disc = amt*0.5
    elif amt in range (200,499):
        disc=amt/3.3333
    elif amt<=25000:
        disc=0.2 * amt
    else:
         disc=0.3 * amt

    print("Discount : ",disc)
    print("Net Pay  : ",amt-disc)
else:
    print("Invalid Amount")